body {
  background-image: url("https://ipsassets.unraid.net/uploads/monthly_2019_03/84_photography_wood.jpg.5aacb2053752cc5e60d17ae6715406a3.jpg");
  background-position: fixed;
  background-size: 2500px;
}

/*----navbar----*/

#navh:hover {
    background-color: #fff;
    color: black;
}

/*----page content----*/

#monh2,#monh4 {
  text-align: center;
  border: groove;
  border-radius: 10px;
  background-color: red;
  display: table;
  margin: auto;
  box-shadow: 3px 3px white, -1em 0 .4em green;
  border-spacing: 5px 1rem;
  margin-bottom: 50px;

}

/*----capture card(page content)----*/

h5 {
  text-align: center;
}
.card{
  background-color: transparent;
  border: groove;
  border: transparent;
}
#notreresto {
  background-color: red;
  border-radius: 10px;
  box-shadow: 3px 3px white, -1em 0 .4em green;
}
#monp {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: groove;
  display: table;
  margin: auto;
  box-shadow: 3px 3px white, -1em 0 .4em green;
  border-spacing: 5px 1rem;

}
#vignette {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px 1rem;
}

/*----pizza-banner----*/

#distop {
    background-image:
    linear-gradient(to bottom, rgba(0,140,69,0.5), rgba(205,33,42,0.5)),
    url('image/pizza-fond.jpg');
    color: white;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 5em;
}

#distop a {
    border: #fff 2px solid;
    padding: 1.5em;
    transition: 0.3s;
    color: #fff;
    text-transform: uppercase;
}

#distop a:hover {
    background-color: #fff;
    color: #000000;
}

/*----footer----*/

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: rgba(0,140,69,0.5);
    text-decoration: none;
}

#contexa {
    background-color: #fff;
}
